label.fieldlabel{
    text-align: right;
    display: block;
    width: 7em !important;
    line-height: 1.2em;
    float: left;
    clear: left;
    margin: 0 3px .5em 0 !important;
    color: black;
    overflow: auto;
}

.field{
    line-height: 1.2em;
    color: black;
    margin: 0 0 .5em 0;
}

.rnd-btn{
    height: 2.2em;
    width: 5em;
    border-radius: 5px;
    box-shadow: 3px 3px 9px darkgrey;
    margin: 2px 0 0 3em;
}

.rnd-btn:hover{
    opacity: 1.8;
    -moz-opacity: 1.8;
    cursor: pointer;
}

.inError{
    background-color: red !important; 
/*    border: 5px solid red !important;*/
}

.green {
    background: green;
}

.hide-me{
    visibility: hidden;
}

#save-window {
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000; /*  this puts it on top of the display*/
}

#save-window div {
     width:20%;
     margin: 10% auto;
     background-color: #0b0;
     border:1px solid #000;
     padding:1em;
     text-align:center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape){
}

/*  tablet portrait mode  for handheld devices*/
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait){
}

