.left {
    background: green;
    
}

.right {
    background: orange;
}

section.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: green;
    color: #FFF;
    padding: 10px;
}

span.close {
    color: #fff !important;
}